*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --th-color: #da0202;
    --bg-gradient: radial-gradient(circle, #ff0000, #910101, #500101); 
    --primary-color: #e4bcbc;
    --accent-color: gold;
    --snow-color: white;

}

html{
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;

}

body{
    background: var(--bg-gradient);
    height: 100vh;
    width: 100vw;

}

.snowflake {
    position: absolute;
    color: var(--snow-color);
    font-size: .8em;
    animation: fall infinite linear;
  }


  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }

#intro_flowe{
    position: fixed;
    top: -3%;
    right: -3%;
    visibility: hidden;
}

header{
   
    top: 10px;
    left: 0px;
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}


header img{
    width: 100px;
}

.counter{
    display: none;
    margin-right: 20px;
}

.countdown h3{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Brush Script';
    font-size: 1.7em;
}


.countdown h2{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Brush Script';
    font-size: 1.5em;
    font-weight: 600;
    border-right: 2px solid white; /* Blinking cursor */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide the overflowing text */
    width: 0; /* Start with no width (hidden) */
    animation: typing 20s steps(100, end) infinite, display 20s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;
}



@keyframes typing {
    0% {
      width: 0; /* Start with no visible text */
    }
    60% {
      width: 14ch; /* Reset the width to 0 to start typing again */
    }

    100% {
        width: 14ch; /* Reset the width to 0 to start typing again */
      }
  }

  @keyframes display {
    0%, 50% {
      opacity: 1; /* Make the text fully visible */
    }
    60%, 100% {
      opacity: 1; /* Fade out the text */
    }
  }

nav{
    margin-right: 10%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}


nav a{
    margin: 0 15px;
    color: var(--accent-color);
    font-family: cursive;
    font-weight: 800;
    font-size: 1.5em;
    padding: 5px 4px;
    border-radius: 10px;
    transition: linear .3s;
}

nav a:hover{
    color: var(--th-color);
    background-color: var(--primary-color);
    
}

main{
    width: 100%;
    position: relative;

}

.hero_banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;

}


.text_data{
    width: 50%;
    padding: 10px;
    
}


.hero_text{
    margin-right: 2px;
}



#santa{
    width: 75%;
    border-radius: 10px; /* Optional: Rounded corners */
    margin: 5px auto; /* Centering (optional) */
}



#day_hero{
    font-size: 2.5em;
}

#to_hero{
    font-size: 3em;
    color: var(--accent-color);
}

.user_data{
    width: 100%;
    height: 90%;
    background-image: url('bgscroll.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}


form{   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
    
}

.user_data h1, .user_data h1, .user_data h2, .user_data p{
    margin-top: 20px;
    color: var(--th-color);
    font-family:cursive;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-weight: bold;
}

.user_data h1{
    padding-top: 30px;
    font-size: 1.4em;
}
label, select, input, button {
    margin: 10px 0;
    font-family: cursive;
}

label{
    font-size: 1.4em;
    width: 40%;
    text-align: center;
    
}

select, input{
    font-size: 1.3em;
    padding: 5px 10px;
}


#submit{
    background-color: var(--th-color);
    color: var(--accent-color);
    margin: 20px 15px;
    font-family: cursive;
    font-weight: 800;
    font-size: 1.5em;
    padding: 5px 8px;
    border-radius: 10px;
    transition: linear .3s;
}

#submit:hover{
    background-color: var(--primary-color);
    color: var(--th-color);
    text-shadow: 2px 3px 5px var(--accent-color);
    
}


.fun_facts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.first, .second{
    border: outset 2px var(--primary-color);
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


.fun_facts .first{
    width: 45%;
}


.fun_facts .second{
    width: 45%;
    
    display: flex;
    align-items: flex-start;
    gap: 2%;
}

.fun_facts .first img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.fun_facts .second img{
    width: 37%;
}

.second div{
    width: 50%;
    line-height: 46px;
    padding: 10px 10px;
}

.first div , .second div{
    text-align: center;
    color: var(--th-color);
    font-family: 'Brush Script';
    background-image: url('bgscroll.jpg');


}

.fun_facts h3{
    font-size: 2em;
    font-family: 'Brush Script';
    color: black;
    text-shadow: 0 0 4px var(--primary-color);
    font-weight: bold;
}

.fun_facts h4{
    font-size: 1.4em;
}

.fun_facts ul{
    padding: 10px 30px;

}

.fun_facts li{
    font-size: 1.5em;
    padding: 7px 0;
    font-weight: bold;
    font-family: cursive;
}

.fun_facts li span{
    font-size: 1.2em;
    padding: 7px 0;
    font-weight: bold;
    color: black;
    font-family: 'Brush Script';
}

footer{
    margin: 5% 0;

}

.support{
    width: 90%;
    margin: 40px auto;
    text-align: center;
    font-family: 'Brush Script';
    background-image: url('bgscroll.jpg');
    border: outset 2px var(--primary-color);
    border-radius: 15px;
}

.support h2{
    font-size: 1.3em;
    font-family: 'Brush Script';
    color: var(--accent-color);
    text-align: center;
    text-shadow: 0 0 3px var(--th-color);
    font-weight: 400;
}

.support ul{
    list-style: none;
}

.support ul li span{
    font-family: cursive;
    font-weight: 600;

    
}

.support p span{
    font-size: 1em;
    font-family: 'Brush Script';
    color: var(--accent-color);
    text-shadow: 0 0 3px var(--th-color), 0 0 5px rgb(3, 3, 3);
}

.support ul li, .support p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: var(--th-color);
    font-size: 1em;
    font-weight: 400;
    font-family: 'Brush Script';
    overflow-wrap: break-word; /* Ensures long words break */
    word-wrap: break-word; /* For older browser support */
    line-height: 40px;
    text-shadow: 0 0 2px black;
}





.social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

.social i{
    font-size: 1.4em;
    color: var(--primary-color);
    transition: .4s linear;
    text-shadow: 
    0 0 5px rgb(255, 61, 2),  /* Inner green glow */
    0 0 10px rgb(255, 30, 0), /* Middle green glow */
    0 0 15px rgb(255, 10, 0), /* Outer green glow */
    0 0 25px rgb(255, 0, 0); /* Extended green glow */
animation: glow 5s infinite alternate;
}


.social i:hover{
    transform: scale(1.4);
}



/* Glowing Animation */
@keyframes glow {
    0% {
        text-shadow: 
            0 0 5px var(--accent-color), 
            0 0 10px var(--accent-color), 
            0 0 15px var(--accent-color), 
            0 0 25px var(--accent-color);
    }
    50% {
        text-shadow: 
            0 0 5px var(--th-color), /* Transition to white glow */
            0 0 10px var(--th-color), 
            0 0 15px var(--th-color), 
            0 0 25px var(--th-color);
    }
    100% {
        text-shadow: 
            0 0 5px #00ff00, 
            0 0 10px #00ff00, 
            0 0 15px #00ff00, 
            0 0 25px #00ff00;
    }
}


@media (max-width:1800px){
    .second{
        flex-direction: column;
    }
    .second div{
        line-height: 33px;
        padding: 10px 5px;
        width: 90%;
        margin: 10px auto;
    }

    .second img{
        margin: 5px auto;
        width: 27%;
    }
}
 


@media (max-width:1300px){
    form{
        width: 90%;
    }

    label{
        width: 70%;
    }

    nav a{
        margin: 0 5px;
    }


    .second img{
        width: 37%;
    }

    .second div{
        line-height: 30px;

    }

    #to_hero{
        font-size: 2em;
    }


}


@media (max-width:1200px) {
    header img{
        width: 100px;
    }

    #day_hero{
        font-size: 2em;
    }
    
    #to_hero{
        font-size: 1.8em;
   
    }

    #santa{
        width: 80%;

    }

    .user_data{
        line-height: 40px;
    }

    

}

@media (max-width: 855px){

    #intro_flowe{
        visibility: visible;
    }

    header img{
        display: none;
    }
    
    .hero_banner{
        display: flex;
        justify-content: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .counter{
        display: block;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #santa{
        width: 100%;
    }

    .hero_text{
        display: none;
    }

    header{
        flex-direction: column;

    }

    .logo{
        width: 100%;
        display: flex;
         align-items: center;
         justify-content: space-between;
         
    }

    nav{
        width: 100%;
        margin: 20px 0;

    }

    nav .nav-links{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    
    }

    nav a{
        
        font-size: 1.2em;
    }
    

    .text_data{
        width: 100%;
    }


    .user_data{
        width: 100;
        
    }

    .fun_facts{
        flex-direction: column;
        width: 100%;
        margin-top: 7%;
        
    }

    .fun_facts .first, .fun_facts .second{
        width: 85%;
        margin: 30px 0;
    }

    .fun_facts img, .fun_facts div{
        width: 100%;
    }


}



/* CHRISTMAS CSS STARTS HERE*/

.jesus_facts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    gap: 20px; /* Adds space between the two sections */
    padding: 20px 2%;
    
}

#phone_santa{
    display: none;
}

.jesus_facts .facts {
    width: 45%;
    height: 100%; /* Ensures it fills the available height */
    overflow-y: auto; /* Enables scrolling */
    padding: 10px; /* Adds padding for readability */
    box-shadow: 0 0 10px var(--accent-color); /* Optional: adds a shadow */
    
    border-radius: 12px;
    
 
}




.jesus_facts .santa_show {
    width: 45%;
    height: 100%;
    overflow: hidden; /* Ensures content does not scroll */
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */

}

.jesus_facts .santa_show img {
    max-width: 100%; /* Ensures the image fits within the container width */
    max-height: 100%; /* Ensures the image fits within the container height */
    object-fit: contain; /* Keeps the image aspect ratio */
}

.facts h1{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    text-shadow: 0 0 2px rgb(150, 147, 147);
}


.facts .fact{
    width: 80%;
    margin: 15px auto;
    
}

.facts .fact h2{
    font-family: "Brush Script";
    font-size: 1.7em;
    padding: 20px 0;
    text-shadow: 0 0 2px rgb(150, 147, 147);
    
}


.facts .fact h2 span{
    display: inline-block;
    border: outset 2px var(--accent-color);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 0 0 6px white;
    
}


.facts .fact p{
    font-family: "Brush Script";
    font-size: 1.2em;
    padding: 20px 0;
    font-weight: 300;
    font-style: italic;
    line-height: 1.7em;
    color: var(--accent-color);
    text-shadow: 0 0 4px rgb(0, 0, 0);
}


@media (max-width:1100px){

    .jesus_facts {
        flex-direction: column;
        height: 120vh;
    }


    .jesus_facts #phone_santa{
        display: block;
        width: 100%;
    }

    .jesus_facts .facts{
        width: 100%;
    }

    .jesus_facts .santa_show{
        display: none;
    }

    .facts h1{
        font-size: 2em;
    }


    .facts .fact h2{
        font-size: 1.4em;
    }


    .facts .fact p{
        font-size: 1em;
    }

}
